.container-fluid {
    width: 600px;
    max-height: 460px;
    margin-left: 0px;
    padding: 40px;
}
.container-fluid-value {
    width: 610px;
    max-height: 500px;
    margin-left: 0px;
    padding: 40px;
}

.container-fluid .filter-btn {
    font-size: 12px;
}

.container-fluid-tabell{
    width: 600px;
    margin-left: 230px;
    overflow: scroll;
    width: 600px;
    height: auto;
}

.container-fluid-tabell.inactive {
    opacity: 0;
}

#green_circle{
    color: green !important
}
#yellow_circle{
    color: orange !important
}
#red_circle{
    color: #ba1e1e !important
}