
.side-bar{
    position: fixed;
    background: #6fb1bc;
    width: 250px;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 20px;
    transition: width .2s ease-in;
    border: solid 1px #333;

}

.side-bar.inactive{
    width: 80px;
}

.side-bar .top-section{
    position: relative;
}

.side-bar .top-section .logo{
    width: 40px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
}

.side-bar .top-section .logo{
    max-width: 100%;
    max-height: 100%;
    color: #fff

}

.side-bar .top-section .toggle-menu-btn{
    color: #333;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-150%);
    cursor: pointer;
    z-index: +1;
}

.side-bar.inactive .top-section .toggle-menu-btn{
    right: -50px;
}



.side-bar .main-menu .menu-item{
    color: #333;
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: 600;
    cursor: pointer;
}

.side-bar .main-menu{
    margin: 5px 0;
    position: relative;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.side-bar .main-menu .menu-item .menu-icon{
    color: #666;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.side-bar .main-menu .menu-item span{
    position: absolute;
    display: inline-block;
    line-height: 40px;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.side-bar.inactive .main-menu .menu-item span{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.side-bar .main-menu .sub-menu{
    color: #666;
    margin-left: 20px;
    border-left: 1px solid #666;
    box-sizing: border-box;
    padding-left: 30px;
    list-style: none;
    opacity: 1;
    transition: opacity .2s ease-in;
    cursor: pointer;
}

.side-bar.inactive .main-menu .sub-menu{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.side-bar .main-menu .sub-menu a{
    display: block;
    margin: 5px 0;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
    padding: 5px;
}

.side-bar .side-menu-footer{
    width: 250px;
    height: 300px;
    bottom: 0px;
    left: 0px;
    background:#6fb1bc;
    position: fixed;
    color: #333;
    text-align: center;
    opacity: 1;;
    transition: opacity .2s ease-in;
    border: solid 1px #333;

}

.side-bar.inactive .side-menu-footer{
    width: 80px;
    overflow: hidden;
    opacity: 0;
    margin-bottom: 0px;
   
    
}

.side-bar .divider{
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: #666;

}

.side-bar .middle-section {
    overflow-y: show;
}

.side-bar.inactive .middle-section{
    overflow: hidden;
}



.side-bar .dropdown{
    padding-top: 30px;
    overflow-y: show ;
}

.side-bar .middle-section.middle-inactive{
    opacity: 0;
}

.side-bar .middle-section .submit-btn{
    padding: 5px;
    transform: translateY(75%);
}


