.App {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 10px;
  display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333; 
  display: block;
}


/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content h3 {
  background: #a7a7a7;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  padding: 10px;
  font-weight: 400;
  background-color: #6fb1bc;
}

.mapboxgl-popup-content div {
  padding: 10px;
  background-color:#6fb1bc;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
} 

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #6070c8;
}


*{
  margin: 0;
  padding: 0;
}
ul{
  margin: 0;
  padding: 0;
}

body{
  background: #6fb1bc;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.container.inactive{
  margin-left:80px;
}

.container-fluid {
  background: #6fb1bc;
  max-height: 1000px;
  margin-left: 200px;
  
}

.form-group{
  height: 500px;
}




.container-fluid-value{
  background: #6fb1bc;
  height: 700px;
}

.map-container {
  z-index: -1;
  height: 710px;
  transform: translateY(-58px);

  }

#map{
  position: fixed;
  left: 0%;
  height: 100%;
  width: 100%;
  transition: all 0.6s;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
