.container{
    width: 30px;
}



.container-fluid-filter {
    background: #6fb1bc;
    max-height: 1000px;
    margin-left: 22px;
    width: 400px;
    padding: 15px;
}
.nullstill-btn {
    transform: translateX(150px);
}

.mapboxgl-popup-content h6 {
    font-weight: bold;
}

.mapboxgl-popup-content #main { 
    border: 2px solid black;
    border-radius: 10px;
    width: 310px;
    background-color: #6fb1bc;
}
.mapboxgl-popup-content #title { 
    background-color: whitesmoke;
    text-align: center;
    font-weight: 200;
    border-bottom: 2px solid rgb(122, 122, 122);
    height: auto;
    
}


.mapboxgl-popup-content #info{
        background-color: rgb(179, 191, 192);
        
}

.mapboxgl-popup-content #b{
    font-style: italic;
}


