


  .maptype-btn{
    z-index: 1;
    outline: none;
    margin-left: 10px;
    background-color: #a7a7a7 !important;
    border-color: #a7a7a7  !important;
    margin-top: 20px ;
  }
  
  
  .filter-btn {
    z-index: 1;  
    margin-left: 220px;
    outline: none;
    background-color: #a7a7a7  !important;
    border-color: #a7a7a7  !important;
    margin-top: 20px ;
  }
